<h1> Add New Product to our store</h1>

@using OnlineShoppingWeb.ViewModels;
@using OnlineShoppingWeb.Enities;
@model ProductPageViewModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.Title)
        @Html.TextBoxFor(model => model.Laptop.Title, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.Laptop.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.Price)
        @Html.TextBoxFor(model => model.Laptop.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Laptop.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.Brand)
        @Html.TextBoxFor(model => model.Laptop.Brand, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Laptop.Brand)
    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.Laptop.LaptopModel)
        @Html.TextBoxFor(model => model.Laptop.LaptopModel, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Laptop.LaptopModel)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.HardDriveSize)
        @Html.TextBoxFor(model => model.Laptop.HardDriveSize, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Laptop.HardDriveSize)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.AvgCustomerReview)
        @Html.TextBoxFor(model => model.Laptop.AvgCustomerReview, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Laptop.AvgCustomerReview)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.HardDrive)
        @Html.DropDownListFor(model => model.Laptop.HardDrive, Html.GetEnumSelectList(typeof(HardDriveType)))
        @Html.ValidationMessageFor(model => model.Laptop.HardDrive)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.Processor)
        @Html.DropDownListFor(model => model.Laptop.Processor, Html.GetEnumSelectList(typeof(ProcessorType)))
        @Html.ValidationMessageFor(model => model.Laptop.Processor)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.Condition)
        @Html.DropDownListFor(model => model.Laptop.Condition, Html.GetEnumSelectList(typeof(ConditionType)))
        @Html.ValidationMessageFor(model => model.Laptop.Condition)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Laptop.SubDepartment)
        @Html.DropDownListFor(model => model.Laptop.SubDepartmentId, Model.SubDepartments.Select(x => new SelectListItem { Text = x.SubDepartmentId.ToString()+x.Description, Value = x.SubDepartmentId.ToString() }))
        @Html.ValidationMessageFor(model => model.Laptop.SubDepartment)
    </div>

    <div class="form-group">
        <input type="submit" value="Add New Laptop" />
    </div>
        }
