@model ProductPageViewModel
<h1>It is product list</h1>
@using (Html.BeginForm("Search", "Product", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="panel panel-default">
        <div class="panel-heading">Product</div>
        <div class="panel-body">

            <div class="form-group">
                @Html.Label("Title")
                @Html.TextBox("SearchProductName","", new { @class = "form-control" })
                <button class="btn" type="submit"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
            </div>
         </div>
    </div>

}
<table class="table">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>SubDepartmentId</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>

            <th>@product.Title</th>
            <th>$ @product.Price</th>
            <th>@product.SubDepartmentId</th>
            <th>@product.AvgCustomerReview</th>

            <th>Edit</th>
            <th>
            <form action="/Product/DeleteProduct/@product.ProductId" method="post" class="">
                <input type="submit" value="Delete" />
            </form>
            </th>       
        </tr>
    }

</table>
@Html.ActionLink("Create New Laptop", "CreateLaptop", "Product")
@Html.ActionLink("Create New Phone", "CreateLaptop", "Product")
