@using OnlineShoppingWeb.ViewModels
@model CheckoutPageViewModel
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Shipping address</div>
        <div class="panel-body">
            @if (Model.ShippingAddress != null)
            {
                <h1>@Model.ShippingAddress</h1>
            }
            else
            {
                using (Html.BeginForm("AddShippingAddress", "Checkout", FormMethod.Post, new { @class = "" }))
                {
                    <input type="text" name="ShippingAddress" />

                    <button class="change-qty-submit-button" type="submit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Place Order</button>
                }
            }
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Review items and shipping</div>
        <div class="panel-body">
            <table class="table">
                @foreach (var product in Model.Products)
            {
                    <tr>
                        <th>@product.Title</th>
                        <th>@product.Price</th>
                        <th>@product.Quantity</th>
                    </tr>
                }
            </table>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Total is @Model.Total</div>
        <div class="panel-body">
            <form action="Checkout/PlaceOrder" method="POST">
                @Html.AntiForgeryToken()
                <input type="hidden" name="ShippingAddress" value="@Model.ShippingAddress" />
                <input type="hidden" name="Total" value="@Model.Total" />
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="@(Environment.GetEnvironmentVariable("StripePublicKey"))"
                        data-amount="@(Model.Total*100)"
                        data-name="Online Shopping Website"
                        data-description="2 widgets"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
            </form>
            <button id="pay-button" type="submit" class="btn btn-success  btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Pay with Custom Form</button>
            <div id="payment-form-container" class="col-md-6 well hidden">

                @using (Html.BeginForm("PlaceOrder", "Checkout", FormMethod.Post, new { id = "payment-form", @class = "cardInfo", accept_charset = "UTF-8", novalidate = "", autocomplete = "on" }))
            {
                    @Html.AntiForgeryToken()


                    <input type="hidden" name="ShippingAddress" value="@Model.ShippingAddress" />
                    <input type="hidden" name="Total" value="@Model.Total" />
                    <div class="form-group">
                        <label class="control-label">Accepted</label>
                        <div class="row">
                            <div class="col-md-10 card-images">
                                <img src="~/img/visa.png" alt="visa" />
                                <img src="~/img/mastercard.png" alt="mastercard" />
                                <img src="~/img/amex.png" alt="amex" />
                                <img src="~/img/discover.png" alt="discover" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cc-number" class="control-label">Card Number</label>
                        <div class="input-group col-md-6">

                            <input id="cc-number" data-stripe="number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required autofocus>
                            <span class="glyphicon glyphicon-credit-card glyphicon-align-right form-control-feedback" aria-hidden="true"></span>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="cc-exp" class="control-label">Expires</label>
                            <input id="cc-exp" data-stripe="exp" type="tel" class="input-lg form-control cc-exp" placeholder="MM / YY" required>
                        </div>

                        <div class="form-group col-md-3 ">
                            <label for="cc-cvc" class="control-label">CVC</label>
                            <input id="cc-cvc" data-stripe="cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="•••" required>
                            <span class="glyphicon glyphicon-lock  form-control-feedback" aria-hidden="true"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <div class="input-group col-md-6">

                            <input id="email" type="email" name="stripeEmail" class="input-lg form-control email" placeholder="Email" required>
                            <span class="glyphicon glyphicon-envelope glyphicon-align-right form-control-feedback" aria-hidden="true"></span>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6  ">
                            <button type="submit" class="btn btn-success  btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</button>
                        </div>
                    </div>

                    <h3 class="validation"></h3>
                    <p class="alert alert-danger payment-errors" style="display:none; "></p>
                }

            </div>


        </div>
    </div>
</div>

@section ownScript{

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="~/js/payment-validations.js"></script>
<script type="text/javascript" src="~/js/jquery.payment.js"></script>

<script type="text/javascript">
    Stripe.setPublishableKey("@(Environment.GetEnvironmentVariable("StripePublicKey"))");

    $(document).ready(function(){

        $("#pay-button").click(function (e) {
            $("#payment-form-container").toggleClass("hidden");
        });

        $('#payment-form').submit(function (e) {
            e.preventDefault();
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            //Stripe.card.createToken($form, stripeResponseHandler);
            expiration = $('.cc-exp').payment('cardExpiryVal');
            Stripe.card.createToken({
                number: $('.cc-number').val(),
                cvc: $('.cc-cvc').val(),
                exp_month: (expiration.month || 0),
                exp_year: (expiration.year || 0)
            }, stripeResponseHandler);

        });

        stripeResponseHandler = function (status, response) {
            var $form = $('#payment-form');

            if (response.error) {
                // Show the errors on the form
                $paymentErrors = $form.find('.payment-errors');
                $paymentErrors.text(response.error.message);
                $paymentErrors.toggle($paymentErrors.text.length > 0);

                $form.find('button').prop('disabled', false);
            } else {
                // token contains id, last4, and card type
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                // and re-submit
                $form.get(0).submit();
            }
        };

    });
</script>

}

