@using Microsoft.AspNetCore.Identity
@using OnlineShoppingWeb.Enities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Source+Sans+Pro" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Shopping Website</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/">Home</a></li>
                    <li><a href="/Client">Product</a></li>
                    <li><a href="/Cart">View My Cart</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Cart">@await Component.InvokeAsync("ShoppingCart")</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Tool <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Product">Product Admin Tool</a></li>
                            <li><a href="/Department">Manage Department</a></li>
                            <li><a href="/Account">Manage Account</a></li>
                            <li role="separator" class="divider"></li>

                        </ul>
                    </li>
                    
                    <li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "navbar-form" }))
                            {
                                <span class="userName-nav">@UserManager.GetUserName(User)</span>
                                <input type="submit" value="Logout" />
                            }
                        }
                        else
                        {
                            @*//linkText, actionName, controllerName, routeValues, htmlAttributes*@

                            @Html.ActionLink("Login In", "Login", "Account")
                            @Html.ActionLink("Register", "Register", "Account")

                        }
                    </li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
   

        <div class="">
            @RenderBody()
   
        </div>
    @*<environment name="Development">
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        @RenderSection("ownScript",required:false)
    </environment>*@
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("ownScript", required: false)

    @*<environment names="Staging, Production">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.validate.js"
                asp-fallback-test="window.jQuery & window.JQuery.Validator"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.validate.unobtrusive.js"
                asp-fallback-test="window.jQuery & window.JQuery.Validator && window.JQuery.Validator.Unobtrusive"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </environment>*@
</body>
    </html>
