@using Microsoft.AspNetCore.Identity
@using OnlineShoppingWeb.Enities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Source+Sans+Pro" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Shopping Website</a>
            </div>
            <div class="navbar navbar-nav">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar navbar-nav">
                <a class="navbar-brand" href="/Department">Department</a>
            </div>
            <div class="navbar navbar-nav">
                <a class="navbar-brand" href="/Client">Product</a>
            </div>
            <div class="navbar navbar-nav">
                <a class="navbar-brand" href="/Account">Account</a>
            </div>
            <div class="navbar navbar-nav">
                <a class="navbar-brand" href="/Product">Product Mangement Tool</a>
            </div>
            <div class="navbar navbar-nav">
                <a class="navbar-brand" href="/Cart">View My Cart</a>
            </div>
            <div class="navbar navbar-nav navbar-right">


                @if (SignInManager.IsSignedIn(User))
                {
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "navbar-form" }))
                    {
                        @UserManager.GetUserName(User)
                        <input type="submit" value="Logout" />
                    }
                }
                else
                {
                    @*//linkText, actionName, controllerName, routeValues, htmlAttributes*@

                    @Html.ActionLink("Login In", "Login", "Account")
                    @Html.ActionLink("Register", "Register", "Account")

                }
            </div>

            <div class="navbar navbar-nav navbar-right">
                @await Component.InvokeAsync("ShoppingCart")
            </div>
        </div>
    </nav>
    

        <div class="container">
            @RenderBody()
   
        </div>
    <environment name="Development">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        @RenderSection("ownScript",required:false)
    </environment>


    <environment names="Staging, Production">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.validate.js"
                asp-fallback-test="window.jQuery & window.JQuery.Validator"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"
                asp-fallback-src="/node_modules/jquery/dist/jquery.validate.unobtrusive.js"
                asp-fallback-test="window.jQuery & window.JQuery.Validator && window.JQuery.Validator.Unobtrusive"></script>
    </environment>
</body>
    </html>
