@using Microsoft.AspNetCore.Identity
@using OnlineShoppingWeb.Enities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Shopping Website</a>
            </div>
            <div class="navbar navbar-nav navbar-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "navbar-form" }))
                    {
                        @UserManager.GetUserName(User)
                        <input type="submit" value="Logout" />
                    }
                }
                else
                {
                    @*//linkText, actionName, controllerName, routeValues, htmlAttributes*@

                    @Html.ActionLink("Login In", "Login", "Account");
                    @Html.ActionLink("Register", "Register", "Account");

                }
            </div>
        </div>
    </nav>
    

        <div>
            @RenderBody()
        </div>
    </body>
    </html>
