@using System.Security.Principal
@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
    @if (User.Identity.IsAuthenticated)
    {
        @*<div>@User.GetUserName()</div>*@
        @using (Html.BeginForm("LoginOut", "Account", FormMethod.Post))
        {

            <input type="submit" value="LoginOut" />
        }
    }
    else
    {
        @*//linkText, actionName, controllerName, routeValues, htmlAttributes*@

        @Html.ActionLink("Login In", "Login","Account");
        @Html.ActionLink("Login In", "Register", "Account");

    }
        </div>

        <div>
            @RenderBody()
        </div>
    </body>
    </html>
