@using Microsoft.AspNetCore.Identity
@using OnlineShoppingWeb.Enities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div>@UserManager.GetUserName(User)</div>
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
        {

            <input type="submit" value="Logout" />
        }
    }
    else
    {
        @*//linkText, actionName, controllerName, routeValues, htmlAttributes*@

        @Html.ActionLink("Login In", "Login","Account");
        @Html.ActionLink("Register", "Register", "Account");

    }
        </div>

        <div>
            @RenderBody()
        </div>
    </body>
    </html>
