@using OnlineShoppingWeb.ViewModels;
@using OnlineShoppingWeb.Enities;
@model ClientProductPageViewModel
@if(Model.IsSearchAreaVisible)
{
    @using (Html.BeginForm("Index", "Client", FormMethod.Get, new { @class = "SearchForm" }))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.EventCommand)
        <div class="panel panel-default">
            <div class="panel-heading">Product</div>
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductSearchName)
                    @Html.TextBoxFor(model => model.ProductSearchName, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn own-btn-action" value="search"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                <button class="btn own-btn-action" value="list"> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Reset</button>
             
            </div>
        </div>

    }
}

@if (Model.IsListAreaVisible)
{
    <h1>Product Browser -Client</h1>

    <div class="table-responsive">

        <table class="table">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>SubDepartment</th>
                <th>Condition</th>
                <th>Rating</th>
                <th>Quantity</th>
                <th>AddToCart</th>
                <th>View Detail</th>

            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    @if (@product.Title.Length > 60)
                    {
                        <th>@product.Title.Substring(0, 59) ...</th>
                    }
                    else
                    {
                        <th>@product.Title</th>

                    }
                    <th>$ @product.Price</th>
                    <th>@product.Discriminator</th>
                    <th>@product.Condition</th>

                    <th>@Html.Partial("_StarReview", product.AvgCustomerReview)</th>
                    <th>@product.Quantity</th>

                    <th>
                        @using (Html.BeginForm("AddToCart", "Client", FormMethod.Post, new { @class = "SearchForm" }))
                        {
                            @Html.HiddenFor(model => model.SaveToCartProductId, new { SaveToCartProductId = @product.ProductId })
                        <button class="own-btn-action" type="submit" value="AddToCart"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>AddToCart</button> 
                        }          
                    </th>
                    <th>
                        <form action="/Client/Detail/@product.ProductId" method="post" class="">
                            <input type="submit" value="Detail" />
                        </form>
                    </th>
                </tr>
            }

        </table>
    </div>

}




@Html.ActionLink("Create New Laptop", "CreateLaptop", "Product")
@Html.ActionLink("Create New Phone", "CreatePhone", "Product")

@section ownScript
{
<script>
    $(document).ready(function () {
        $(".own-btn-action").click(function (e) {
            e.preventDefault();

            console.log("eventCommand" + $("#EventCommand").val());
            console.log("button value" + $(this).val());
            $(this).css("color", "red");
            $("#EventCommand").val($(this).val());
            console.log("eventCommand" + $("#EventCommand").val());
            $("form.SearchForm").submit();

        });
    });

</script>    
}