<h1>Product Detail</h1>
@using OnlineShoppingWeb.ViewModels;
@using System.Linq;

@model ClientProductPageViewModel
 @if (Model.Product != null)
    {
<div class="table-responsive">

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>SubDepartment</th>
            <th>Condition</th>
            <th>Rating</th>
            <th>Quantity</th>
            <th>Brand</th>

            @if (Model.Product.Discriminator == "Laptop")
            {

                <th>LaptopModel</th>
                    <th> ScreenSize</th>
                    <th> HardDrive</th>
                    <th>Processor</th>
            }
            else if (Model.Product.Discriminator == "Phone")
            {


                <th> ScreenSize</th>
                        <th> Carrier</th>
            }
        </tr>

        <tr>
            <th>@Model.Product.Title</th>
            <th>@Model.Product.Price</th>
            <th>@Model.Product.SubDepartment</th>
            <th>@Model.Product.Condition</th>
            <th>@Model.Product.AvgCustomerReview</th>
            <th>@Model.Product.Quantity</th>
            <th>@Model.Product.Brand</th>

            @if (Model.Product.Discriminator == "Laptop")
            {

                <th>@Model.Laptop.LaptopModel</th>
                        <th> @Model.Laptop.ScreenSize</th>
                        <th>@Model.Laptop. HardDrive</th>
                        <th>@Model.Laptop.Processor</th>
            }
            else if (Model.Product.Discriminator == "Phone")
            {


                <th> @Model.Phone.ScreenSize</th>
                        <th> @Model.Phone.Carrier</th>
            }
        </tr>
    </table>
</div>
<div class="viewReview">
    <h1>Customer Reviews</h1>
    <h2>@Html.Partial("_StarReview", Model.Product.AvgCustomerReview)</h2>

    <div class="table-responsive">

        <table class="table">
            <tr id="JsonReview">
               
            </tr>

            <tr>
                @foreach (var review in Model.Product.ProductReviews)
                {
                    <th>@Html.Partial("_StarReview", review.Score)@review.Title</th>
                    <th>@review.Context</th>
                }
         
            </tr>
        </table>
    </div>
</div>

 }


@using (Html.BeginForm("Review", "Client", FormMethod.Post, new { @class = "SaveReviewForm" }))
{
    <input type="text" value="@Model.Product.ProductId" name="ProductReview.ProductId">
    @Html.LabelFor(model => model.ProductReview.Title)
    @Html.TextBoxFor(model => model.ProductReview.Title)

    @Html.LabelFor(model => model.ProductReview.Score)
    @Html.TextBoxFor(model => model.ProductReview.Score)

    @Html.LabelFor(model => model.ProductReview.Context)
    @Html.TextBoxFor(model => model.ProductReview.Context)
    <button class="btn" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Review</button>

}
@section ownScript
{
<script>
    $(document).ready(function () {
        $(".SaveReviewForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: "@Url.Action("Review")",
                type: "Post",
                data: $(this).serialize(),
                dataType: "json",
                success: function (result) {
                    console.log("Review");
                    console.log(result.review);
                    $("#JsonReview").html(
                        "<th>" + @Html.Partial("_StarReview", result.review.Score) result.review.title + "</th>" +
                        "<th>" + result.review.context + "</th>");
                }
            });
         });
    });
</script>
}