
@using OnlineShoppingWeb.ViewModels;
@model DepartmentViewModel

<h1> Add New SubDepartment to our store under @Model.DepartmentOfSub.DepartmentId @Model.DepartmentOfSub.Description</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.HiddenFor(model => model.SubDepartment.Department, Model.DepartmentOfSub)
    @Html.LabelFor(model => model.SubDepartment.Description)
    @Html.TextBoxFor(model => model.SubDepartment.Description)
    @Html.ValidationMessageFor(model => model.SubDepartmentDescription.Description)

    <input type="submit" value="Add New Department" />
}