@using OnlineShoppingWeb.Enities
@using System.Collections.Generic

@model DepartmentViewModel
<h1>It is Department list</h1>
@foreach (var department in Model.Departments)
{
    <h2>@Html.ActionLink(@department.Description, "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId }) |@Html.ActionLink("Edit", "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId })| @Html.ActionLink("Delete", "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId }) </h2>


    <form action="/Department/EditDepartment/@department.DepartmentId" method="post">
        <input type="hidden" name="Department.DepartmentId" value="@department.DepartmentId" />
        <input name="Department.Description" class="form-control" type="text" value="@department.Description" />
        <input type="submit" value="EditDepartment" />
    </form>
    }

 @Html.ActionLink("Create New Department", "CreateDepartment", "Department")
