
@model DepartmentViewModel
<div class="container">

    <h1>It is Department list</h1>
    @foreach (var department in Model.Departments)
    {
        <h2>@Html.ActionLink(@department.Description, "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId })  </h2>

        <button class="editButtonForDepartment">Edit</button>

        <form action="/Department/EditDepartment/@department.DepartmentId" method="post" class="editFormForDepartment">
            <input type="hidden" name="Department.DepartmentId" value="@department.DepartmentId" />
            <input name="Department.Description" class="form-control" type="text" value="@department.Description" />
            <input type="submit" value="EditDepartment" />
        </form>

        <form action="/Department/DeleteDepartment/@department.DepartmentId" method="post" class="">
            <input type="submit" value="Delete" />
        </form>
    }

    @Html.ActionLink("Create New Department", "CreateDepartment", "Department")
    </div>
    @section ownScript{
        <script src="/js/DepartmentIndex.js"></script>
    }
