@model DepartmentViewModel
<h1>It is Department list</h1>
@foreach (var department in Model.Departments)
{
    <h2>@Html.ActionLink(@department.Description, "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId }) |@Html.ActionLink("Edit", "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId })| @Html.ActionLink("Delete", "DepartmentofSubDepartment", "Department", new { departmentId = @department.DepartmentId }) </h2>


    @using (Html.BeginForm("EditDepartment", "Department", FormMethod.Post, new { @departmentId = @department.DepartmentId, @class = "hideForm" }))
    {
        <div class="form-group">
            @Html.HiddenFor(model => model.Department.DepartmentId, new { @Value = @department.DepartmentId })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Department.DepartmentId, new { value = "@department.DepartmentId" })
        </div>
        <div class="form-group">
        @Html.TextBoxFor(model => model.Department.Description, new { @Value = @department.Description,text= @department.Description, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Department.Description)
        </div>

        <div class="form-group">
            <input type="submit" value="Edit" />
        </div>
    }


}
 @Html.ActionLink("Create New Department", "CreateDepartment", "Department")
